.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav-logo {
    width: 40px;
    margin-right: 20px
}

.nav>h3,
.nav>h4 {

    color: white;
    margin: 0;


}

.nav>h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav-items>li {
    padding: 10px;
}